<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Admin</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <style>
        .navbar {
            margin-bottom: 50px;
            background-color: #c2e4b1;
            border: 0;
            font-size: 12px !important;
            line-height: 1.42857143 !important;
            letter-spacing: 4px;
            border-radius: 0;
            font-family: Montserrat, sans-serif;
        }

        .container {
            padding: 50px;
        }
        .table {
            margin-top: 1%;
            table-layout: auto;
        }
        .form-inline {
            margin-top: 4%;
            
        }

        
    </style>
  </head>
  <body>
    <div class="navAdmin">
        <nav class="navbar navbar-default navbar-fixed-top">
            <nav class="navbar-header">
                <div><a href="#" class="navbar-brand">Hospital Finder</a></div>
            </nav>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="Home">Home</a></li>
            </ul>
        </nav>
    </div>
    
    <form class = "form-inline" action="country/get/" method="POST">
        {% csrf_token %}
        <div class="text-right">
            <button id="button" type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">chart</button>
            <label for="country"></label>
            <input type="text" class = "form-control" id="country" name="country" placeholder="country" size="50">
            <button type="submit" class="btn btn-primary">search</button>
        </div>
    </form>

    <table class="table table-striped" id = "mytable">
        <tr>
            <th>Country</th>
            <th>TotalCases</th>
            <th>NewCases</th>
            <th>TotalDeaths</th>
            <th>NewDeaths</th>
            <th>TotalRecovered</th>
            <th>NewRecovered</th>
            <th>ActiveCases</th>
        </tr>
        {% for i in covidrec %}
            </tr>
                <td>{{ i.country }}</td>
                <td>{{ i.totalcases }}</td>
                <td>{{ i.newcases }}</td>
                <td>{{ i.totaldeaths }}</td>
                <td>{{ i.newdeaths }}</td>
                <td>{{ i.totalrecovered }}</td>
                <td>{{ i.newrecovered }}</td>
                <td>{{ i.activecases }}</td>
                <!-- <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">chart</button></td> -->
                <!-- <td><a href="{% url 'chartdatamax' %}" data-toggle="modal" data-target="#myModal">edit</a></td> -->
            </tr>
        {%endfor%}

    </table>
    
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <form action="country/chart/" method="POST"><br>
                {% csrf_token %}
                <div class="container-fluid well">
                    <div class="col-md-3">
                        <input id="country" name="country" type="text" class="form-control" placeholder="country" required>
                    </div>
                    <div class="col-md-3">
                        <input id="country" name="country1" type="text" class="form-control" placeholder="country" required>
                    </div>
                    <div class="col-md-3">
                        <input id="country" name="country2" type="text" class="form-control" placeholder="country" required>
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-primary">search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- <div id="myModal1" class="modal fade" role="dialog">
        <div class="modal-dialog">       
            <div id="piechart"></div>
            
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

            <script type="text/javascript">
                
                google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(drawChart);
                
                function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    
                    ['Task', 'Hours per Day'],
                    ['country', 9876],
                    ['totalcase', 9328],
                    ['totaldeath', 9879],
                    ['totalrecovered', 3939],
                    ['activecase', 986896],
                    
                ]);

                var options = {'title':'My Average Day', 'width':550, 'height':500};

                var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                chart.draw(data, options);
                }
            </script>
        </div>
    </div> -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  </body>
</html>