<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Login</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <style>
        body {
            text-align: center;
            font-size: large;
            
           
        }
        .navbar {
            background-color: #c2e4b1;
        }
        .form-horizontal {
            height: 50%;
            width: 50%;
            align-items: center;
          }
       
        .form-verticle {
            
            padding-top: 36%;
            padding-bottom: 37%;
            background-color: #eff3ed;
        }
    </style>
    
  </head>
  <body>
    <div id="loginNav">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">Hospital Finder</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"></a></li>
            </ul>
        </nav>
    </div>
    <div class="col-md-6">
        <div class="container-fluid well">
        </div>

    </div>
    <div class="col-md-6" id = "login">
        <div class="row">
         
        <form action="" method="POST" class="form-verticle">
            <h2>Login</h2>
            <div class="form-group">
                <label for="username">Username :</label> 
                <input id="username" name="username" type="text" placeholder="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password :</label>
                <input id="password" name="password" type="text" placeholder="password" required>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">login</button>
            </div>
        </form>
        </div>
        
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  </body>
</html>